{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ object.name|title }}{% endblock title %}
{% block description %}{% endblock description %}
{% block keywords %}{% endblock keywords %}

{% block extend_header %}{% endblock extend_header %}
{% block extend_footer %}{% endblock extend_footer %}

{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">{{ object.name|title }}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <div class="authorCol">
            <h4 class="smTitle pb-3">{{ object.author|title }}</h4>
          </div>
        </div>
        <div class="col-md">
          <h4 class="smTitle pb-3">{{ object.timestamp.date }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpaceSm">
    <div class="container">
      {{ object.body|safe }}
    </div>
  </div>
</section>
{% endblock content %}
   